name: Security POC - Open Source Toolchain

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  security:
    name: DevSecOps Security Pipeline
    runs-on: [self-hosted]

    steps:
    # --------------------------------------------------
    # Checkout
    # --------------------------------------------------
    - name: Checkout repository
      uses: actions/checkout@v4

    # --------------------------------------------------
    # SAST - Semgrep
    # --------------------------------------------------
    - name: SAST - Semgrep
      run: |
        docker run --rm \
          -v "$PWD:/src" \
          semgrep/semgrep \
          semgrep scan --config=auto --json > semgrep.json

    # --------------------------------------------------
    # Secrets Detection - Gitleaks
    # --------------------------------------------------
    - name: Secrets - Gitleaks
      run: |
        docker run --rm \
          -v "$PWD:/repo" \
          zricethezav/gitleaks detect \
          --source /repo \
          --report-format json \
          --report-path gitleaks.json || true

    # --------------------------------------------------
    # SCA + IaC - Trivy filesystem scan
    # --------------------------------------------------
    - name: SCA / IaC - Trivy FS
      run: |
        docker run --rm \
          -v "$PWD:/src" \
          aquasec/trivy \
          fs /src --format json > trivy-fs.json

    # --------------------------------------------------
    # Build application image
    # --------------------------------------------------
    - name: Build Docker image
      run: |
        docker build -t juice-shop:poc .

    # --------------------------------------------------
    # Container Image Scan - Trivy
    # --------------------------------------------------
    - name: Container Scan - Trivy Image
      run: |
        docker run --rm \
          -v /var/run/docker.sock:/var/run/docker.sock \
          aquasec/trivy \
          image juice-shop:poc --format json > trivy-image.json

    # --------------------------------------------------
    # Deploy app locally for DAST
    # --------------------------------------------------
    - name: Start application
      run: |
        docker rm -f juice-shop || true
        docker run -d --name juice-shop -p 3000:3000 juice-shop:poc
        sleep 15

    # --------------------------------------------------
    # DAST - OWASP ZAP (baseline)
    # --------------------------------------------------
    - name: Run OWASP ZAP Baseline Scan
      run: |
        mkdir -p $GITHUB_WORKSPACE/zap-out
        chmod -R 777 $GITHUB_WORKSPACE/zap-out
        docker run --rm \
          --network host \
          -v $GITHUB_WORKSPACE/zap-out:/zap/wrk \
          --user root \
          ghcr.io/zaproxy/zaproxy:stable \
          zap-baseline.py \
          -t http://localhost:3000 \
          -r zap.html \
          -x zap.xml \
          -J zap.json \
          -I


    # --------------------------------------------------
    # Enrich with EPSS
    # --------------------------------------------------

    - name: Extract Unique CVEs
      run: |
        jq -r '
          .Results[].Vulnerabilities[]?.VulnerabilityID
        ' trivy-fs.json trivy-image.json \
        | grep "^CVE-" \
        | sort -u > cves.txt

        echo "Total CVEs:"
        wc -l cves.txt

    - name: Fetch EPSS Bulk Data
      run: |
        CVE_LIST=$(paste -sd "," cves.txt)

        curl -s "https://api.first.org/data/v1/epss?cve=$CVE_LIST" \
          | jq '
              .data
              | map({
                  (.cve): {
                    epss: (.epss | tonumber),
                    percentile: (.percentile | tonumber)
                  }
                })
              | add
            ' > epss.json

        cat epss.json


    - name: Fetch KEV Feed
      run: |
        curl -s https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json \
          | jq '
              .vulnerabilities
              | map({ (.cveID): true })
              | add
            ' > kev.json

        cat kev.json

    - name: Build Risk Intelligence DB
      run: |
        jq -s '
          .[0] as $epss
          | .[1] as $kev
          | $epss
          | to_entries
          | map({
              key: .key,
              value: {
                epss: .value.epss,
                percentile: .value.percentile,
                kev: ($kev[.key] // false)
              }
            })
          | from_entries
        ' epss.json kev.json > risk-db.json

        cat risk-db.json

    - name: Enrich Trivy FS Report
      run: |
        jq --slurpfile risk risk-db.json '
          .Results |=
          map(
            if .Vulnerabilities then
              .Vulnerabilities |=
                map(
                  . as $v
                  | ($risk[0][$v.VulnerabilityID] // {epss:0, percentile:0, kev:false}) as $r
                  | .risk_score =
                      (
                        ((.CVSS.nvd.V3Score // 0) * 0.4)
                        +
                        ($r.epss * 10 * 0.3)
                        +
                        (if $r.kev then 2 else 0 end)
                      )
                  | .epss = $r.epss
                  | .epss_percentile = $r.percentile
                  | .kev = $r.kev
                  | .Severity =
                      (if .risk_score >= 7 then "Critical"
                      elif .risk_score >= 5 then "High"
                      elif .risk_score >= 3 then "Medium"
                      else "Low" end)
                  | .Description =
                      (.Description // "") +
                      "\n\n---\nEPSS: \($r.epss)\nPercentile: \($r.percentile)\nKEV: \($r.kev)\nRisk Score: \(.risk_score)"
                )
            else
              .
            end
          )
        ' trivy-fs.json > trivy-fs-enriched.json

    # --------------------------------------------------
    # Upload security reports
    # --------------------------------------------------
    - name: Upload security artifacts
      uses: actions/upload-artifact@v4
      with:
        name: security-reports
        if-no-files-found: warn
        path: |
          semgrep.json
          gitleaks.json
          trivy-fs-enriched.json
          trivy-image.json
          zap-out/zap.json
          zap-out/zap.html
          zap-out/zap.xml

    - name: Upload Semgrep to DefectDojo
      run: |
        curl -X POST "${{ secrets.DEFECTDOJO_URL }}/api/v2/import-scan/" \
          -H "Authorization: Token ${{ secrets.DEFECTDOJO_API_KEY }}" \
          -F "auto_create_context=true" \
          -F "product_name=${{ secrets.DEFECTDOJO_PRODUCT_NAME }}" \
          -F "engagement_name=${{ secrets.DEFECTDOJO_ENGAGEMENT_NAME }}" \
          -F "engagement=${{ secrets.DEFECTDOJO_ENGAGEMENT_ID }}" \
          -F "scan_type=Semgrep JSON Report" \
          -F "file=@semgrep.json" \
          -F "active=true" \
          -F "verified=true"

    - name: Upload Trivy FS to DefectDojo
      run: |
        curl -X POST "${{ secrets.DEFECTDOJO_URL }}/api/v2/import-scan/" \
          -H "Authorization: Token ${{ secrets.DEFECTDOJO_API_KEY }}" \
          -F "auto_create_context=true" \
          -F "product_name=${{ secrets.DEFECTDOJO_PRODUCT_NAME }}" \
          -F "engagement_name=${{ secrets.DEFECTDOJO_ENGAGEMENT_NAME }}" \
          -F "engagement=${{ secrets.DEFECTDOJO_ENGAGEMENT_ID }}" \
          -F "scan_type=Trivy Scan" \
          -F "file=@trivy-fs.json" \
          -F "active=true" \
          -F "verified=true"

    - name: Upload Trivy Image to DefectDojo
      run: |
        curl -X POST "${{ secrets.DEFECTDOJO_URL }}/api/v2/import-scan/" \
          -H "Authorization: Token ${{ secrets.DEFECTDOJO_API_KEY }}" \
          -F "auto_create_context=true" \
          -F "product_name=${{ secrets.DEFECTDOJO_PRODUCT_NAME }}" \
          -F "engagement_name=${{ secrets.DEFECTDOJO_ENGAGEMENT_NAME }}" \
          -F "engagement=${{ secrets.DEFECTDOJO_ENGAGEMENT_ID }}" \
          -F "scan_type=Trivy Scan" \
          -F "file=@trivy-image.json" \
          -F "active=true" \
          -F "verified=true"

    - name: Upload ZAP to DefectDojo
      run: |
        curl -X POST "${{ secrets.DEFECTDOJO_URL }}/api/v2/import-scan/" \
          -H "Authorization: Token ${{ secrets.DEFECTDOJO_API_KEY }}" \
          -F "auto_create_context=true" \
          -F "product_name=${{ secrets.DEFECTDOJO_PRODUCT_NAME }}" \
          -F "engagement_name=${{ secrets.DEFECTDOJO_ENGAGEMENT_NAME }}" \
          -F "engagement=${{ secrets.DEFECTDOJO_ENGAGEMENT_ID }}" \
          -F "scan_type=ZAP Scan" \
          -F "file=@zap-out/zap.xml" \
          -F "active=true" \
          -F "verified=true"
